* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

html, body {
    scroll-behavior: smooth;
}


/* ================= common ================ */

:root {
    --primary-color-1: #171100;
    --primary-color-2: #ffb900;
    --primary-color-3: #5f5b53;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    background-color: var(--primary-color-1);
    border-radius: 25px;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 50px;
}

.btn:hover {
    opacity: 0.9;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: var(--primary-color-1);
    font-family: "Sen", sans-serif;
    font-weight: 700;
    line-height: 1.27;
}

.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -1.16px;
    padding-top: 64px;
}

.lv2 {
    font-size: 3.8rem;
    letter-spacing: -0.76px;
}

.lv3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp : 2;
}

.desc {
    color: var(--primary-color-3);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}


.hover:hover {
    background-color: var(--primary-color-2);
}

/* ============================= header ========================  */

.header {
    background-color: #fffcf4;
    position: sticky;
    top: -24px;
    z-index: 1;
}

.header .content {
    padding-top: 36px;
    padding-bottom: 12px;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .nav-bar {
    display: flex;
    align-items: center;
}

.header .nav-bar {
    margin-left: auto;
}

.header .action .btn-cta {
    background-color: var(--primary-color-1);
    font-size: 1.6rem;
    width: 144px;
}

.header .nav-bar .list {
    display: flex;
    align-items: center;
    margin-right: calc(70px - 21px);
}

.header .item a {
    padding: 12px 21px;
    color: var(--primary-color-3);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.header .list .active a {
    position: relative;
    color: var(--primary-color-1);
    font-size: 1.6rem;
    text-shadow: 1px 0 0 currentColor;
}

.header .list .item a:hover {
    color: var(--primary-color-1);
    font-size: 1.6rem;
    text-shadow: 1px 0 0 currentColor;
}

.header .list .active a::after {
    content: "";
    display: inline-block;
    background-color: var(--primary-color-1);
    width: 12px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    bottom: 6px;
    left: 22px;
}

/* ======================= hero ======================= */

.hero {
    background-color: #fffcf4;
    padding-top: calc(64px - 20px);
}

.hero .content {
    height: 100%;
    padding-bottom: 65px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
    gap: 230px;
}

.hero .info {
    flex: 1;
}

.hero .info .desc {
    padding-top: 22px;
}

.hero .info .row {
    display: flex;
    align-items: center;
}

.hero .info .row .btn-cta {
    font-size: 1.8rem;
    line-height: 1.67;
    width: 180px;
    padding: 17px 16px;
    border-radius: 32px;
    background-color: var(--primary-color-2);
}

.hero .info .player {
    display: flex;
    margin-left: 28px;
    align-items: center;
    gap: 14px;
}

.hero .info .player {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hero .info .player span {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .info .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 8px 16px;
    border-radius: 50%;
}

.hero .info .right-arrow {
    border-color: transparent transparent transparent var(--primary-color-2);
    border-width: 8px;
    border-style: solid;
    transform: translateX(25%);
}

.hero .info .circle:hover {
    opacity: 0.7;
}

.hero .info .row:first-of-type {
    padding-top: 38px;
}

.hero .info .desc:nth-child(4) {
    padding-top: calc(48px - 22px);
}

.hero .info .row:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 28px;
    padding-top: 8px;
}

.hero .info .number {
    font-size: 4.4rem;
    line-height: 1.23;
}

.hero .info .quantity {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.hero .stats {
    height: 685px;
    border-radius: 20px;
    position: relative;
    flex: 1;
}

.hero .stats .big-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.hero .stats-table {
    width: 270px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 48px;
    left: 63%;
}

.hero .stats-list {
    padding: 24px;
}

.hero .stats-list .desc {
    font-size: 1.4rem;
    line-height: 1.85;
}

.hero .stats-list .row {
    display: flex;
    align-items: center;
}

.hero .stats-info {
    padding-left: 16px;
}

.hero .stats-list .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .stats-list .row:nth-child(2) .icon {
    background-color: #fcefff;
}

.hero .stats-list .row:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero .stats-list .row+.row {
    padding-top: 14px;
}

/* ======================= courses ==================== */

.courses {
    margin-top: 200px;
}

.courses .action {
    display: flex;
    gap: 18px;
    position: absolute;
    top: 0;
    right: 0;
}

.courses .action .btn-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.courses .action .btn-cta:hover {
    opacity: 0.9;
}

.courses .action .left-btn {
    background-color: #fff;
    border: 1px solid #ffb900;
}

.courses .action .right-btn {
    background-color: #ffb900;
    border: 1px solid #ffb900;
}

.courses .row:nth-child(2) {
    padding-top: 16px;
    position: relative;
}

.courses .row .desc {
    width: 39%;
}

.courses .list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-top: 55px;
}

.courses .list .item {
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #e2dfda;
    flex: 1;
}

.courses .list .info {
    padding: 16px 22px 22px;
}

.courses .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .list .desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    padding-top: 6px;
    padding-right: 35px;
    word-break: break-all;
}

.courses .rate {
    gap: 6px;
}

.courses .rate .rate-num {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.courses .list .item-img {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    margin-left: -1px;
    margin-top: -1px;
}

.courses .list .row {
    padding-top: 12px;
}

.courses .list .item:hover {
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.courses .list .heading {
    padding-right: 8px;
    word-break: break-all;
}

/* ======================= feedback =========================== */

.feedback {
    margin-top: 200px;
    background-color: #2e2100;
}

.feedback .content {
    padding: 96px 0;
}

.feedback .body {
    display: flex;
    gap: 241px;
}

.feedback .users .avt {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.feedback .users .name {
    color: #f7f7f7;
    font-family: "Sen", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.4;
    padding-top: 18px;
    white-space: nowrap;
}

.feedback .users .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.85;
    padding-top: 4px;
    white-space: nowrap;
}

.dot {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-top: 28px;
}

.dt-item {
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
}

.dt-item:nth-child(2) {
    background-color: #ffb900;
}

.feedback .fb-content {
    position: relative;
    padding-top: 28px;
    padding-left: 30px;
}

.feedback .fb-content .desc {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.53;
}

.feedback .fb-content .double-quotes {
    position: absolute;
    top: 0;
    left: 0;
}

/* ========================= course-desc ====================== */

.course-desc {
    margin-top: 200px;
}

.course-desc .body {
    display: flex;
    justify-content: space-between;
}

.course-desc .left {
    width: 48.71%;
}

.course-desc .right {
    width: 40.4%;
}

.course-desc .group-img {
    position: relative;
}

.course-desc .group-img .img {
    position: absolute;
    width: 47.36%;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.course-desc .group-img .img:nth-child(2) {
    top: 0;
    right: 0;
}

.course-desc .group-img .img:first-child {
    top: 34px;
    left: 0;
}

.course-desc .info {
    padding-top: 58px;
}

.course-desc .info .desc {
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75;
    padding-top: 16px;
}

.course-desc .info .btn-cta {
    margin-top: 32px;
    min-width: 137px;
}

/* =========================== course-desc-2 ======================= */

.course-desc .thumb .img {
    width: 100%;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

/* ====================== blogs ========================== */

.blogs {
    margin-top: 200px;
    background-color: #fffcf4;
}

.blogs .content {
    padding: 96px 0;
}

.blogs .head {
    margin: 0 auto;
    width: 38.29%;
}

.blogs .head .heading {
    text-align: center;
}

.blogs .desc {
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    padding-top: 16px;
}

.blogs .list {
    display: flex;
    gap: 30px;
    padding-top: 55px;
}

.blogs .list .item {
    flex: 1;
    border-radius: 16px 16px 0 0;
    background-color: #fff;
}

.blogs .list .img {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}

.blogs .list .info {
    padding: 20px 28px 20px;
}

.blogs .list .date {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}


.blogs .list .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color-2);
    margin-right: 4px;
    margin-bottom: 2px;
}

.blogs .list .date::after {
    content: "";
    display: block;
    width: 48.48%;
    height: 1px;
    border-radius: 0.5px;
    background-color: #e2dfda;
    margin-top: 12px;
}

.blogs .list .heading {
    padding-top: 12px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blogs .list .btn-cta {
    margin-top: 12px;
}

.blogs .dot {
    padding-top: 38px;
    justify-content: center;
}

.blogs .dot .dt-item:not(.dt-item:nth-child(2)) {
    background-color: #5f5b53;
}

/* ===================== footer ====================== */

.footer {
    background-color: #2e2100;
}

.footer .content {
    padding: 96px 0 28px;
}

.footer .list {
    display: flex;
}

.footer .contact {
    width: 40%;
    padding-top: 9px;
}

.footer .desc {
    padding-top: 18px;
    font-size: 1.4rem;
    color: #bfbcb2;
    line-height: 1.85;
}

.footer .list .item {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer .item .desc {
    display: block;
    padding: 6px 6px 6px 0;
}

.footer .item .desc:hover {
    text-decoration: underline;
}

.footer .item:nth-child(2) {
    margin-left: 145px;
}

.footer .item:nth-child(2)~.item {
    margin-left: 130px;
}

.footer .line {
    width: 130px;
    height: 1px;
    background-color: #595959;
    margin-top: 14px;
    margin-bottom: 22px;
}

.footer .w-100 {
    margin-top: 38px;
    width: 100%;
}

.footer .sub-item .head {
    font-size: 1.4rem;
}

.footer .sub-item .highlight {
    color: #fff;
    font-weight: 600;
    line-height: 1.85;
}

.footer .copyright {
    color: #907d74;
    text-align: center;
    padding-top: 28px;
}

.footer .social-icon {
    display: flex;
    gap: 18px;
    padding-top: 18px;
}